@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext');

$color-primary: #fff;
$color-second: #cf1c24;
$color-third: #000010;

$color-other: #878888;

$padding: 100px 0;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title1 {
	text-align: center;
	font-size: 30px;
    text-transform: uppercase;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

//SEPARATOR

.separator {
	position: relative;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	
	&--top {
		top: -10px;
	}
	
	&__item {
		width: 20px;
		height: 20px;
		background: $color-second;
		box-shadow: 0 0 0 6px white;
		transform: translateX(-50%);
		transform: rotate(45deg);
		margin-right: 21px;
	}
}


//HEADER
.header {
	height: 100vh;
	background: #ccc;
	background-image: url('../images/city.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	text-transform: uppercase;
	
	&__menu {
		background: rgba(0, 0, 0, 0.6);
		padding: 10px 0;
		
		@media (max-width:966px) {
			padding: 0;
		}
	}
	
	&__burger-icon, &__toggle-input {
		position: absolute;
		display: none;
		right: 20px;
		color: $color-primary;
		
	}
	
	&__burger-icon {
		display: none;
		font-size: 26px;
		color:$color-primary;
		
		@media (max-width:966px) {
			display: block;
			font-size: 36px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	
	
	&__toggle-input:checked + &__list {
		@media (max-width:966px) {
			display: block;
			padding-top: 50px;
		}
	}

	
	
	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
		margin: auto;
		
		@media (max-width:966px) {
			display: none;
			padding-bottom: 10px;
		}
	}
	
	&__item {
		margin: 10px 20px;
		
		@media (max-width:966px) {
			text-align: center;
		}
	}
	
	&__link {
		position: relative;
		font-size: 20px;
		text-decoration: none;
		color: $color-primary;
		
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 5px;
			top: 100%;
			left: 0;
			background: $color-second;
			opacity: 1;
			transition: 0.5s;
			
			@media (max-width:966px) {
				display: none;
			}
		}
	
		&:hover {
			&:after {
				width: 50%;
				transform: translateX(100%);
			}
		}
	}
	
	&__box-slogan {
		position: absolute;
		width: 1000px;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -65%);
		text-align: center;
		letter-spacing: 1px;
		color: $color-primary;
		padding: 5px 10px;
		
		@media (max-width: 575px) {
			width: auto;
			padding: 20px 25px;
			background: rgba(0,0,0,0.8);
			border: 6px solid $color-second;;
		}
		
		@media (max-width: 996px) {
			top: 60%;
			transform: translate(-50%, -60%);
		}
		
		@media (max-width: 768px) {
			top: 60%;
			transform: translate(-50%, -60%);
		}
	}
	
	&__title-h1 {
		font-size: 70px;
		line-height: 1;
		
		@media (max-width: 1000px) {
			font-size: 55px;
		}
		
		@media (max-width: 768px) {
			font-size: 45px;
		}
		
		@media (max-width: 640px) {
			font-size: 40px;
		}
	}
	
	&__title-h2 {
		font-size: 40px;
		color: $color-primary;
		
		@media (max-width: 1000px) {
			font-size: 35px;
		}
		
		@media (max-width: 768px) {
			font-size: 30px;
		}
		
		@media (max-width: 640px) {
			font-size: 25px;
		}
		
		@media (max-width: 575px) {
			color: $color-second;
		}
		
	}
	
	&__box-icon {
		@include flex-center;
		width: 55px;
		height: 55px;
		margin: auto;
		margin-top: 20px;
		border: 2px solid $color-primary;
		border-radius: 50%;
		transition: 0.5s;
		
		&:hover {
			border-color: $color-second;
			
			@media (max-width: 966px) {
			border-color: $color-primary;
		}
		}
		
		@media (max-width: 966px) {
			margin-top: 10px;
		}
	}
	
	&__link-git {
		padding: 5px;
	}
	
	&__icon-git {
		font-size: 40px;
		color: $color-primary;
		transition: 0.5s;
		
		&:hover {
			transform: rotateY(360deg);
		}
	}
}

//ABOUT ME
.about-me {
	position: relative;
	background: #7A7A7A;
	color: $color-primary;
	padding: $padding;
	z-index: -1;
	
	&__title-h1 {
		@include title1;
		padding-bottom: 40px;
	}
	
	&__container {
	}
	
	&__box-text {
		max-width: 700px;
		line-height: 1.75;
		letter-spacing: 1px;
		margin: auto;
	}
	
	&__text {
		font-size: 18px;
	}
}

//TECHNOLOGIES
.technologies {
	position: relative;
	color: $color-third;
	padding: $padding;
	
	&__title-h1 {
		@include title1;
	}
	
	&__title-h2 {
		font-size: 22px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 30px;
	}
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 20px;
	}
	
	&__box-icon {
		text-align: center;
		padding: 20px 30px;
	}
	
	&__icon {
		font-size: 80px;
		padding: 5px 0;
		
		&--html5 {
			color: #E44D26;
		}
		
		&--css3 {
			color: #3595CF;
		}
		
		&--js {
			color: #E8D44D;
		}
		
		&--sass {
			color: #C66394;
		}
		
		&--git {
			color: #E84D31;
		}
		
		&--react {
			color: #61DAFB;
		}
	}
	
	&__title-icon {}
}

//PROJECTS
.projects {
	position: relative;
	padding: $padding;
	color: $color-primary;
	background: #000010;

	&__title-h1 {
		@include title1;
		padding-bottom: 40px;
	}
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
	}
	
	&__box-project {
		position: relative;
		width: 400px;
		margin: 25px 10px;
		border: 6px solid $color-primary;
	}
	
	&__box-img {
		position: relative;
		max-width: 400px;
		height: 265px;
		overflow: hidden;
		transition: 0.5s;
		
		&:hover {
			background: $color-primary;
		}
		
		 &:hover::before {
		 	transform: scaleX(1);
			opacity: 1;
		}
    
     	&:hover::after {
			transform: scaleY(1);
			opacity: 1;
		}
		
		&:hover .projects__img {
			transform: scale(1.2);
			opacity: 0.2;
			
			@media (max-width:966px) {
				transform: scale(1);
				opacity: 1;
			}
		}
		
		&:hover .projects__box-description {
  			opacity: 1;
  			visibility: visible;
		}
		
		&:hover .projects__text-description, &:hover .projects__box-links {
			opacity: 1;
  			visibility: visible;
  			transform: translateY(0);
		}
		
		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			border-top: 3px solid $color-second;
			border-bottom: 3px solid $color-second;
			transition: 0.5s;
			transform: scaleX(0);
			opacity: 0;
			z-index: 1;
    	}
    
		 &::after {
		 	content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			border-left: 3px solid $color-second;
			border-right: 3px solid $color-second;
		  	transition: 0.5s;
		  	transform: scaleY(0);
		  	opacity: 0;
		   	z-index: 1;
		}
		
		&::after, &::before {
			@media (max-width:966px) {
				display: none;
			}
		}
	}
	
	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		transition: 0.5s;
	}
	
	&__box-description {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		color: #000010;
		padding: 15px 25px;
		transition: 0.5s;
    	opacity: 0;
    	visibility: hidden;
    	z-index: 2;
		
		@media (max-width:966px) {
			display: none;
		}
	}
	
	&__text-description{
		transition: 0.5s;
  		transform: translateY(-180px);
  		opacity: 0;
  		visibility: hidden;
	}
	
	&__box-links {
		width: 100%;
		padding: 20px 0 10px 0;
		transition: 0.5s;
  		transform: translateY(120px);
  		opacity: 0;
  		visibility: hidden;
	}
	
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: $color-second;
		font-weight: 700;
		margin-left: 10px;
	}
}

//CONTACT
.contact {
	position: relative;
	color: $color-third;
	padding: $padding;
	
	&__title-h1 {
		@include title1;
		padding-bottom: 40px;
	}
	
	&__container {}
	
	&__box {
		max-width: 400px;
		margin: auto;
		font-size: 18px;
		text-align: center;
	}
	
	&__box-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		
	}
	
	&__icon {
		font-size: 30px;
		margin-right: 15px;
		transition: 0.5s;
		
		&--git {
			font-size: 40px;
			color: $color-third;
			transition: 0.5s;
				
			&:hover {
				transform: rotateY(360deg);
			}
		
		}
	}
		
	&__desc {
		}
		
	&__info {
			flex-basis: 100%;
			padding: 10px 0;
			color: $color-second;
		}
	
	&__box-icon {
		@include flex-center;
		width: 55px;
		height: 55px;
		margin: auto;
		margin-top: 20px;
		border: 2px solid black;
		border-radius: 50%;
		
		&:hover {
			border-color: $color-second;
			transition: 0.5s;
		}
	}
	
	&__link {
	}
}

//FOOTER
.footer {
	background: $color-third;
	padding: 20px;
	
	&__text {
		text-align: center;
		text-size: 14px;
		color: $color-primary;
	}
}






