@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext');

$color-primary: #fff;
$color-second: #cf1c24;

$padding: 100px 0;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title1 {
	text-align: center;
	font-size: 30px;
    text-transform: uppercase;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

//HEADER
.header {
	height: 100vh;
	background: #ccc;
	background-image: url('../images/city.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	text-transform: uppercase;

	&__menu {
		background: rgba(0, 0, 0, 0.6);
		padding: 10px 0;
	}
	
	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
	}
	
	&__item {
		margin: 10px 20px;
	}
	
	&__link {
		position: relative;
		font-size: 20px;
		text-decoration: none;
		color: $color-primary;
		
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 5px;
			top: 100%;
			left: 0;
			background: $color-second;
			opacity: 1;
			transition: 0.5s;
		}
	
		&:hover {
			&:after {
				width: 50%;
				transform: translateX(100%);
			}
		}
	}
	
	&__box-slogan {
		position: absolute;
		width: 1000px;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -65%);
		text-align: center;
		letter-spacing: 1px;
		color: $color-primary;
		padding: 5px 10px;
	}
	
	&__title-h1 {
		font-size: 70px;
		line-height: 1;
	}
	
	&__title-h2 {
		font-size: 45px;
		color: $color-primary;
	}
	
	&__box-icon {
		@include flex-center;
		width: 55px;
		height: 55px;
		margin: auto;
		margin-top: 20px;
		border: 2px solid $color-primary;
		border-radius: 50%;
	}
	
	&__link-git {
		padding: 5px;
	}
	
	&__icon-git {
		font-size: 40px;
		color: $color-primary;
		transition: 0.7s;
		
		&:hover {
			transform: rotateY(360deg);
		}
	}
}

//ABOUT ME
.about-me {
	background: #7A7A7A;
	color: $color-primary;
	padding: $padding;
	
	&__title-h1 {
		@include title1;
		padding-bottom: 40px;
	}
	
	&__container {
	}
	
	&__box-text {
		max-width: 700px;
		line-height: 1.75;
		margin: auto;
		
	}
	
	&__text {
		font-size: 18px;
	}
}

//TECHNOLOGIES
.technologies {
	padding: $padding;
	
	&__title-h1 {
		@include title1;
	}
	
	&__title-h2 {
		font-size: 22px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 30px;
	}
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 20px;
	}
	
	&__box-icon {
		text-align: center;
		padding: 20px 30px;
	}
	
	&__icon {
		font-size: 80px;
		padding: 5px 0;
		
		&--html5 {
			color: #E44D26;
		}
		
		&--css3 {
			color: #3595CF;
		}
		
		&--js {
			color: #E8D44D;
		}
		
		&--sass {
			color: #C66394;
		}
		
		&--git {
			color: #E84D31;
		}
		
		&--react {
			color: #61DAFB;
		}
	}
	
	&__title-icon {}
}
